{% extends "layout.html" %}
{% block content %}

</br>
<div class="row">
    <div class="col-sm-12">
        <h1 class="card-title">Bitcoin Node Log Monitor</h1>
    </div>
</div>
</br>

<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{data["start_date"].strftime('%m-%d-%Y')}}</h5>
        <hr>
        <p class="card-text">Log Starting Date</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{data["end_date"].strftime('%m-%d-%Y')}}</h5>
          <hr>
          <p class="card-text">Latest Log Date</p>
        </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">
              Running on {% set list1 = data["version"][-1].split(' ') %}
              {{ list1[-1] }}
          </h5>
          <hr>
          <p class="card-text">Latest Bitcoin Version on Log</p>
        </div>
    </div>
  </div>

</div>
</br>
<div class="row">
    <div class="col-sm-12">
      <div class="card">
          <div class="card-body">
            <h5 class="card-title">
                Init Messages
            </h5>
            <hr>
            <p class="card-text">

            <table class="table table-striped">
                <tbody>

            {% for item in data["init"] %}
                <tr> <td> {{item}} </td> </tr>
            {% endfor %}

                </tbody>
            </table>
            </p>
          </div>
      </div>
    </div>
</div>




{% endblock content %}
